@import "basic";

:root {
  --bg-color: #1e213f;
  --txt-clr-primary: #eff1fa;
}

body {
  background-color: var(--bg-color);
  color: var(--txt-clr-primary);
  font-family: "Roboto Slap", sans-serif;
}

.app-container {
  @include centered-items();
  @include full-page;
  flex-direction: column;
}

.outer-circle {
  border-radius: 50%;
  background-image: linear-gradient(-45deg, #2e325a, #0e112a);
  box-shadow: -20px -20px 60px 0 rgba(67, 113, 206, 0.3),
    4px 4px 30px rgba(0, 0, 32, 0.4);
  cursor: pointer;
  transition: filter 0.2s ease, transform 0.2s ease;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    transform: scale(0.99);
  }
}

.inner-circle {
  position: relative;
  border-radius: 50%;
  background-color: #161932;
  margin: 1rem;
}

.inner-container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.elapsed-time {
  font-size: 4rem;
  font-weight: bold;
}

.action-label {
  font-size: 1rem;
  letter-spacing: 6px;
  text-transform: uppercase;
}

circle {
  transition: stroke-dashoffset 500ms linear;
}

.selector {
  --radius: 26px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 0, 58);
  border-radius: var(--radius);

  & > .mode {
    width: 100px;
    text-align: center;
    margin: 6px;
    padding: 0.6rem 0;
    border-radius: calc(var(--radius) / 1.4);
    color: rgba(white, 0.4);
    cursor: pointer;

    &.selected {
      background-color: tomato;
      color: rgb(1, 0, 58);
    }
  }
}
